body,
section {
	padding: 20px;
}

section {
	background-color: gold;
	height: 66vh;
}

img {
	background-color: orange;
	height: 100%;
	/* Fill the parent. */
	object-fit: contain;
	/* Fit the image. */
	object-position: left top;
	/* Corner. */
	width: 100%;
	/* Fill the parent. */
}