/* Click `index.html` to see the HTML. */

p { color: red; }

blockquote { color: blue; }

footer { background-color: lightgray; }

/* This is a “wildcard,” targeting any element. */
* { color: gray; }
