---
title: Core Interaction
layout: lab
---



<section class="half">
	{% assign topics = site.lab | sort: 'order' %}
	<h2 class="no_toc">Topics</h2>
	<ul class="icon-link no-marker">
		{% for topic in topics %}
			<li>
				<a href="{{ topic.url | replace: '/index', '' }}"> {{ topic.title }}</a>
			</li>
		{% endfor %}
	</ul>
</section>

<section class="half">
	{% assign examples = site.pages | where: "layout", "example" | sort: "path" %}
	<h2 class="no_toc">Examples</h2>
	<ul class="icon-link no-marker">
		{% for example in examples %}
			<li>
				<a href="{{ example.url | relative_url | remove: '.html' }}">{{ example.dir | remove: '/example/' | remove: '/demo/' }}</a>
			</li>
		{% endfor %}
	</ul>
</section>
