div { background-color: aquamarine; }

@media (orientation: portrait) {
	div:first-child { background-color: orange; }
}

@media (orientation: landscape) {
	div:last-child { background-color: gold; }
}
