{%- include auto_date.html -%}
{%- assign current_time = site.time | date: '%s' -%}
{%- assign date_time = date | date: '%s' -%}
{%- if page.layout == 'project' -%}
	{%- assign title = page.name | split: '.' | first | prepend: 'Project ' -%}
	{%- if (current_time) < date_time -%}
		{%- assign title_date = title | append: ', due ' | append: date -%}
	{%- else -%}
		{%- assign title_date = title -%}
	{%- endif -%}
{%- elsif page.layout == 'week' -%}
	{%- assign title = page.name | split: '.' | first | prepend: 'Week ' -%}
	{%- assign title_date = title | append: ', ' | append: date -%}
{%- else -%}
	{%- assign title = page.title -%}
	{%- assign title_date = title -%}
{%- endif -%}
