<figure markdown="0"{% if include.class %} class="{{ include.class }}"{% endif %}{% if include.height %} style="--max--height: {{ include.height }}vh;"{% endif %}>
	<img src="{{ include.src }}">
	{% if include.caption or include.credit %}
		<figcaption>
			<p>
				{%- if include.caption -%}
					<em>{{- include.caption | markdownify | remove: '<p>' | remove: '</p>' | strip -}}</em>
				{%- endif -%}
				{%- if include.credit -%}
					<a href="{{ include.credit}}"></a>
				{%- endif -%}
			</p>
		</figcaption>
	{% endif %}
</figure>
