{% include sorted_weeks.html %}
{% assign index = site.pages | where: 'layout', 'index' | first %}
{% assign this_week = weeks | last %}
{% assign last_week = weeks | pop | last %}
{% assign current_url = page.url %}
{% include sorted_weeks.html %}
{% assign topics = site.pages | where: 'layout', 'topic' | where_exp:'page', 'page.order != nil' | sort: 'order' %}
{% assign projects = site.pages | where: 'layout', 'project' | sort: 'date' %}
{% assign weeks_paths = weeks | map: 'path' %}
{% assign topics_paths = topics | map: 'path' %}
{% include auto_title.html %}
{% assign projects_paths = projects | map: 'path' %}
{% if weeks_paths contains page.path or topics_paths contains page.path or projects_paths contains page.path %}
	{% assign unlisted = false %}
	{% assign select_title = title_date %}
{% elsif page.title %}
	{% assign unlisted = true %}
	{% assign select_title = page.title %}
{% else %}
	{% assign unlisted = true %}
	{%  assign select_title = page.name | split: '.' | first | capitalize %}
{% endif %}
<nav>
	<div>
		<a href="{{ index.url }}">
			<p>{{ index.strings.home }}</p>
		</a>
		<div>
			<p>
				<strong>{{ select_title | markdownify | strip_html | strip }}</strong>{% comment %} Just for targeting. {% endcomment %}
				<select onchange="
					this.parentElement.querySelector('strong').innerHTML = this.querySelector(`[value='${this.value}']`).text;
					document.activeElement.blur();
					window.open(this.value,'_self');
					">
					{% if unlisted %}
						<option disabled selected>{{ select_title | markdownify | strip_html | strip }}</option>
					{% endif %}
					{% include optgroup.html label=index.strings.classes group=weeks %}
					{% include optgroup.html label=index.strings.topics group=topics %}
					{% include optgroup.html label=index.strings.projects group=projects %}
				</select>
			</p>
		</div>
		{% if page.url != this_week.url %}
			<p>
				<a class="this" href="{{ this_week.url }}">{{ index.strings.current }}</a>
			</p>
		{% elsif last_week.url %}
			<p>
				<a class="last" href="{{ last_week.url }}">{{ index.strings.last }}</a>
			</p>
		{% endif %}
	</div>
</nav>


{% comment %} REBUILD {% endcomment %}
