section {
	display: flex;
	flex-wrap: wrap;
	height: 120px;
}

div {
	width: 120px;
}

/* So they wrap. */

section:nth-child(1) {
	align-content: stretch;
	/* Default. */
}

section:nth-child(2) {
	align-content: start;
}

section:nth-child(3) {
	align-content: center;
}

section:nth-child(4) {
	align-content: end;
}

section:nth-child(5) {
	align-content: space-between;
}

section:nth-child(6) {
	align-content: space-around;
}

section:nth-child(7) {
	align-content: space-evenly;
}