section {
	display: flex;
	height: 120px;
}

div { order: 0; } /* Default. */

div:nth-child(1) {
	background-color: crimson;
	order: 1;
}

div:nth-child(2) {
	background-color: hotpink;
	order: 2;
}

div:nth-child(5) {
	background-color: lightsalmon;
	order: -1;
}
