section {
	display: flex;
	height: 120px;
}

section:nth-child(2) div {
	flex-grow: 1; /* All grow equally. */
}

section:nth-child(3) div:nth-child(1) {
	background-color: hotpink;
	flex-grow: 1; /* Just grow this one. */
}

section:nth-child(4) div:nth-child(1) {
	background-color: hotpink;
	flex-grow: 1;
}

section:nth-child(4) div:nth-child(2) {
	background-color: crimson;
	flex-grow: 2; /* Grow twice as much. */
}

section:nth-child(5) div {
	width: 50%; /* With 3 `div` would be 150%. */
}

section:nth-child(5) div:nth-child(1) {
	background-color: lightsalmon;
	flex-shrink: 0; /* Don’t shrink this one! */
}

