@use "utilities" as *;



%--shoulders {
	--typography--shoulder:      calc(1 - var(--typography--cap-height)); // Remainder/overhang.
	--typography--shoulder--top: calc(var(--typography--shoulder) - var(--typography--shoulder--bottom));
}

%--sf {
	@extend %--shoulders;

	--typography--cap-height:       0.705; // In em.
	--typography--x-height:         0.508;
	--typography--shoulder--bottom: 0.122; // Vertical centering in Chrome’s bounding box, across most sizes.

	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}



%font--sf--regular {
	@extend %--sf;

	--typography--weight: 400;

	--typography--inset--left:  -0.068; // Optical insets, left edge of capital "M".
	--typography--inset--right: -0.052; // Right edge of lowercase “m” (since lines tend to end lowercase).

	--typography--underline:         0.066; // Height of crossbar on lowercase “e”.
	--typography--underline--shift: -0.039; // Shift down from baseline, to line up with bottom of descenders.
	--typography--underline--skip:   0.085; // Can’t exceed narrowest descender width, with this shadow implementation.
}



%font--underline {
	--typography--decoration-thickness: calc(var(--typography--underline) * 1em);
	--typography--text-shadow:          calc(var(--typography--underline--skip) * 1em);
	--typography--underline-offset:     calc(var(--typography--underline--shift) * 1em);

	text-decoration-color:     var(--color);
	text-decoration-line:      underline;
	text-decoration-thickness: var(--typography--decoration-thickness);
	text-underline-offset:     calc(-1 * var(--typography--underline-offset) + var(--typography--decoration-thickness) + var(--typography--underline-offset--extra, 0em));

	@include browser-specific(safari) {
		-webkit-text-stroke-color: var(--color--background);
		-webkit-text-stroke-width: calc(var(--typography--decoration-thickness) * 2);
		paint-order:               stroke fill; // Fill on top!
		text-decoration-skip-ink:  none;
	}

	@include browser-specific(chrome, firefox) { // Chrome doesn’t support `paint-order`, so use a shadow.
		text-shadow: // Clear the descenders, if we know the background color.
			var(--color--background) var(--typography--text-shadow) 0, // “East”
			var(--color--background) var(--typography--text-shadow) calc(var(--typography--text-shadow) / 2), // “Southeast”
			var(--color--background) 0 calc(var(--typography--text-shadow) / 2), // “South”
			var(--color--background) calc(-1 * var(--typography--text-shadow)) calc(var(--typography--text-shadow) / 2), // “Southwest”
			var(--color--background) calc(-1 * var(--typography--text-shadow)) 0, // “West”
			var(--color--background) calc(-1 * var(--typography--text-shadow)) calc(-1 * var(--typography--text-shadow) / 2), // “Northwest”
			var(--color--background) 0 calc(-1 * var(--typography--text-shadow) / 2), // “North”
			var(--color--background) var(--typography--text-shadow) calc(-1 * var(--typography--text-shadow) / 2) // “Northeast”
			;
	}
}
