&.lab {
	--color--links: blue;


	// Headers on the landing/list.
	.landing .half {
		align-self: start;

		h2.no_toc {
			padding-bottom: var(--margin--vertical);

			&:after { display: none }
		}
	}
}
