> article {
	> h1 { display: none; } // So we don’t forget.

	> h2 {
		&:not(:first-child) { margin-top:    calc(var(--margin--vertical) * 4); }
		&:not(:last-child)  { margin-bottom: calc(var(--margin--vertical) * 2); }
	}

	> h3 {
		&:not(:first-child) { margin-top: calc(var(--margin--vertical) * 2); }
	}

	> hr {
		&:not(:first-child) { margin-top:    calc(var(--margin--vertical) * 4); }
		&:not(:last-child)  { margin-bottom: calc(var(--margin--vertical) * 4); }
	}

	> blockquote {
		@extend %type--layout;

		--typography--size: var(--typography--size--h3);

		font-style: italic;

		&:not(:first-child) { margin-top:    calc(var(--margin--vertical) * 4); }
		&:not(:last-child)  { margin-bottom: calc(var(--margin--vertical) * 4); }

		&.callout {
			--typography--size: var(--typography--size--base);

			border-color: var(--color);
			border-style: solid;
			border-width: var(--divider--width);
			display:      flex;
			font-style:   normal;
			padding:      calc(var(--margin) / 2);

			&[icon]:before {
				@extend %font--wingdings;

				color:        var(--color);
				content:      attr(icon);
				height:       1em;
				margin-right: calc(var(--margin) / 2);
				margin-top:   var(--typography--margin--top);
				text-align:   center;
				transform:    scale(1.5);
				width:        1em;
			}
		}

		&.pull-quote {
			border-left-color: var(--color);
			border-left-style: solid;
			border-left-width: var(--divider--width);
			padding-left:      var(--margin);
			padding-right:     var(--margin);

			// Credit.
			> blockquote:last-child {
				--typography--size: var(--typography--size--base);

				font-style: normal;
				margin-top: var(--margin);

				> p > a:only-child {
					text-decoration: none;

					&:after {
						@extend %font--sf--light;

						content:     '↗';
						display:     inline-block;
						font-weight: var(--typography--weight);
						margin-left: 0.5em;
						transform:   translateY(0.066em); // Match to other icons.
					}
				}
			}
		}
	}

	> * {
		--typography--extra-lines: 1; // Sequential spacing between `p`.
	}

	a {
		@extend %link--text;
		@extend %font--underline;

		--color: var(--link--color);

		color: var(--link--color);
	}

	p {
		max-width: 75ch;

		strong {
			@extend %font--times--bold;

			font-weight: var(--typography--weight);
		}
	}
}
