> article {
	--typography--extra-lines: 1; // Sequential spacing between `p`.

	// Basics.
	h1 { display: none; } // So we don’t forget.

	h2 {
		&:not(:first-child) { margin-top: calc(var(--margin--vertical) * 4); }
		+ * { margin-top: calc(var(--margin--vertical) * 2); }
	}

	h3 {
		&:not(:first-child) { margin-top: calc(var(--margin--vertical) * 2); }
	}

	hr,
	blockquote {
		&:not(:first-child) { margin-top: calc(var(--margin--vertical) * 4); }
		+ * { margin-top: calc(var(--margin--vertical) * 4); }
	}



	// Quotes/callouts.
	blockquote {
		@extend %type--layout;

		--typography--size: var(--typography--size--h3);

		font-style: italic;

		&.callout {
			--typography--size: var(--typography--size--base);

			border-color: var(--color);
			border-style: solid;
			border-width: var(--divider--width);
			display:      flex;
			font-style:   normal;
			padding:      calc(var(--margin) / 2);

			&[icon]:before {
				@extend .icon--wingdings;

				--icon--scale: 1.5; // Bigger for these.

				color:        var(--color);
				content:      attr(icon);
				height:       1em;
				margin-left:  initial;
				margin-right: calc(var(--margin) / 2);
				margin-top:   var(--typography--margin--top);
				text-align:   center;
				width:        1em;
			}
		}

		&.pull-quote {
			border-left-color: var(--color);
			border-left-style: solid;
			border-left-width: var(--divider--width);
			padding-left:      var(--margin);
			padding-right:     var(--margin);

			// Credit.
			> blockquote:last-child {
				--typography--size: var(--typography--size--base);

				font-style: normal;
				margin-top: var(--margin);

				> p > a:only-child {
					@extend %font--underline--disable;

					&:after {
						@extend .center--x;
						@extend .icon--sf;

						content: '↗';
					}
				}
			}
		}
	}



	// Links.
	a {
		@extend %link--text;
		@extend %font--underline;

		--color: var(--link--color);

		color: var(--link--color);
	}

	// Prominence for link-only paragraphs/li.
	.link-only > a {
		@extend %font--underline--disable;

		&:after {
			@extend .center--x;
			@extend .icon--sf;

			content: var(--icon);
		}

		&[href^="/"] { --icon: '→'; } // Internal.
		&[href^="http"] { --icon: '↗'; } // External.

		&[href*="docs.google.com"]:after,
		&[href*="slack.com"]:after,
		&[href*="github.com"]:after,
		&[href*="drive.google.com"]:after,
		&[href*="zoom.us"]:after,
		&[href*="courses.newschool.edu"]:after,
		&[href*=".pdf"]:after {
			@extend .icon--wingdings;

			--icon--gap: 0.5em;
		}

		&[href*="docs.google.com"]:after       { --icon: '!'; --icon--scale: 1.1; } // Pencil icon.
		&[href*="slack.com"]:after             { --icon: '-'; --icon--scale: 1.2; } // Mailbox.
		&[href*="github.com"]:after            { --icon: '<'; } // Floppy.
		&[href*="drive.google.com"]:after      { --icon: '1'; --icon--scale: 1;} // Folder.
		&[href*="zoom.us"]:after               { --icon: ')'; --icon--scale: 1.333; } // Telephone.
		&[href*="courses.newschool.edu"]:after { --icon: '5'; --icon--scale: 1.333; } // File cabinet.
		&[href*=".pdf"]:after                  { --icon: '2'; } // Document.
	}

	p {
		max-width: 75ch;

		strong {
			@extend %font--times--bold;

			font-weight: var(--typography--weight);
		}
	}



	// Lists.
	ul,
	ol {
		@extend %type--layout;
		@extend %typography--sequential;

		display:             grid;
		gap:                 var(--typography--between);
		list-style-position: outside;

		> li {
			@extend %typography; // For paragraph-less lists.

			display:      list-item;
			margin-top:   var(--typography--margin--top);
			padding-left: 0.4em;

			@include browser-specific(safari) { padding-left: 0.3em; }

			&:before { display: none; } // Collides with the marker, so we use the margin.

			> p {
				padding-left: 0.8em;

				&:first-child:before,
				&:last-child:after { display: none }; // Since the `li` is a type element.
			}

			&:not(:first-child) > p { margin-top: calc(var(--typography--font-size) * var(--typography--leading)); }
		}
	}

	ul {
		list-style-type: disc;
		padding-left:    0.8em;

		@include browser-specific(safari) { padding-left: 1em; }
	}

	ol {
		list-style-type: decimal;
		padding-left:    0.95em;

		@include browser-specific(safari) { padding-left: 1.25em; }
	}



	// Link list from an include.
	aside {
		&:not(:first-child) { margin-top:    calc(var(--margin--vertical) * 2); }
		+ * { margin-top: calc(var(--margin--vertical) * 2); }

		> h3 { margin-bottom: var(--margin--vertical); }

		> menu {
			@extend %type--layout;

			display:        flex;
			flex-direction: column;
			gap:            var(--typography--between);

			> li > a { @extend %link--element; }
		}
	}
}
