> article {
	> h1 { display: none; } // So we don’t forget.

	> h2 {
		&:not(:first-child) { margin-top:    calc(var(--margin--vertical) * 4); }
		&:not(:last-child)  { margin-bottom: calc(var(--margin--vertical) * 2); }
	}

	> h3 {
		&:not(:first-child) { margin-top: calc(var(--margin--vertical) * 2); }
	}

	> hr {
		&:not(:first-child) { margin-top:    calc(var(--margin--vertical) * 4); }
		&:not(:last-child)  { margin-bottom: calc(var(--margin--vertical) * 4); }
	}

	> blockquote {
		@extend %type--layout;

		&:not(:first-child) { margin-top:    calc(var(--margin--vertical) * 2); }
		&:not(:last-child)  { margin-bottom: calc(var(--margin--vertical) * 2); }

		&.aside {
			border-color: var(--color);
			border-style: solid;
			border-width: var(--divider--width);
			font-style:   italic;
			padding:      calc(var(--margin) / 2);
		}
	}

	> * {
		--typography--extra-lines: 1; // Sequential spacing between `p`.
	}

	a {
		@extend %link--text;
		@extend %font--underline;

		--color: var(--link--color);

		color: var(--link--color);
	}

	p {
		max-width: 70ch;

		strong {
			@extend %font--times--bold;

			font-weight: var(--typography--weight);
		}
	}

	> p {
		@include breakpoint(568) {
			max-width: calc((100% - var(--margin) * 2) / 3 * 2 + var(--margin));
		}
	}
}
