/* This is… based on `base16`. */

.highlight,
.highlight .w {
	color: #303030;
}

.highlight .err {
	color: #151515;
}

.highlight .c,
.highlight .ch,
.highlight .cd,
.highlight .cm,
.highlight .cpf,
.highlight .c1,
.highlight .cs {
	color: #aaaaaa;
}

.highlight .cp {
	color: #aaaaaa;
}

.highlight .nt {
	color: #ffa11f;
}

.highlight .o,
.highlight .ow {
	color: #aaaaaa;
}

.highlight .p,
.highlight .pi {
	color: #aaaaaa;
}

.highlight .gi {
	color: #74a800;
}

.highlight .gd {
	color: #c52e28;
}

.highlight .gh {
	color: #2a94c0;
}

.highlight .k,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kv {
	color: #b56aa6;
}

.highlight .kc {
	color: #d28445;
}

.highlight .kt {
	color: #d28445;
}

.highlight .kd {
	color: #d28445;
}

.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .dl,
.highlight .sd,
.highlight .s2,
.highlight .sh,
.highlight .sx,
.highlight .s1 {
	color: #74a800;
}

.highlight .sa {
	color: #b56aa6;
}

.highlight .sr {
	color: #75b5aa;
}

.highlight .si {
	color: #8f5536;
}

.highlight .se {
	color: #8f5536;
}

.highlight .nn {
	color: #ffa11f;
}

.highlight .nc {
	color: #ffa11f;
}

.highlight .no {
	color: #ffa11f;
}

.highlight .na {
	color: #2a94c0;
}

.highlight .m,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .il,
.highlight .mo,
.highlight .mx {
	color: #74a800;
}

.highlight .ss {
	color: #74a800;
}



/* additions. */
.highlight .p + .no,
.highlight .p + .nb,
.highlight .p + .n,
.highlight .p + .no + .p,
.highlight .p + .nb + .p,
.highlight .p + .n + .p,
.highlight .p + [class^='m'] + .p,
.highlight [class^='m'] + [class^='m'] + .p,
.highlight .p + .s1 + .p,
.highlight .s1 + .p,
.highlight .s1 + .o + .nb + .p,
.highlight .p + .nf,
.highlight .p + .nf + .p,
.highlight .o + .m + .p,
.highlight .sx + .nf,
.highlight .sx + .nf + .p,
.highlight .p + .nb + .no,
.highlight .p + .nb + .no + .m + .p,
.highlight .n + .p + .m + .n,
.highlight .m + .n + .m + .p,
.highlight .k + .p + .n + .o + .nb,
.highlight .nl + .p + .m + .nb,
.highlight .nl + .p + .m + .nb + .no,
.highlight .nl + .p + .m + .nb + .no + .p,
.highlight .k + .p + .n + .o + .n,
.highlight .p + .nf + .p + .o,
.highlight .p + .nf + .p + .o + .n,
.highlight .p + .nf + .p + .o + .n + .p,
.highlight .p + .nf + .p + .o + .n + .o + .no,
.highlight .p + .nf + .p + .o + .n + .o + .no + .p {
	color: #74a800;
}

.highlight .nf,
.highlight .nf ~ .p,
.highlight .nf ~ .p ~ .p + .p,
.highlight .nt ~ .p,
.highlight .nt ~ .p ~ .p + .p,
.highlight .nc ~ .p,
.highlight .nc ~ .p ~ .p + .p,
.highlight .cm + .o,
.highlight .cm + .o + .p,
.highlight .cm + .o + .p ~ .p + .p,
.highlight .nt + .nd + .o + .nt {
	color: #ffa11f;
}

.highlight .nl,
.highlight .nl + .p,
.highlight .k + .p + .n,
.highlight .k + .p + .n + .o,
.highlight .k + .p + .n + .o + .m + .p + .nf + .p + .n,
.highlight .k + .p + .n + .o + .m + .p + .nf + .p + .n + .o,
.highlight .k + .p + .n + .o + .m + .p + .o + .p + .n,
.highlight .k + .p + .n + .o + .m + .p + .o + .p + .n + .o,
.highlight .k + .n + .nf + .p + .n,
.highlight .k + .n + .nf + .p + .n + .o,
.highlight .p + .py,
.highlight .p + .py + .p,
.highlight .na + .p {
	color: #2a94c0;
}

.highlight .nd,
.highlight .nt + .nd + .o,
.highlight .nd + .o + .err,
.highlight .nd + .o + * + .o {
	color: #b56aa6;
}

.highlight .nt + .nd + .o + .nt,
.highlight .nt + .nd + .o + .nd,
.highlight .k,
.highlight .k + .p,
.highlight .k + .p + .n + .o + .m + .p,
.highlight .k + .p + .n + .o + .m + .p + .nf,
.highlight .k + .p + .n + .o + .m + .p + .nf + .p,
.highlight .k + .p + .n + .o + .m + .p + .nf + .p + .n + .o + .m + .p,
.highlight .k + .p + .n + .o + .m + .p + .o + .p,
.highlight .k + .p + .n + .o + .m + .p + .o + .p + .n + .o + .m + .p,
.highlight .k + .p + .n + .o + .nb + .p,
.highlight .k + .n + .nf,
.highlight .k + .n + .nf + .p,
.highlight .k + .n + .nf + .p + .n + .o + .m + .p,
.highlight .k + .p + .n + .o + .n + .p {
	color: #c52e28;
}

.highlight .cm:first-child + .nt + .nd + .o + .nt {
	/* Don’t ask. */
	color: #ffa11f;
}