<!DOCTYPE html>
<html {% if page.layout == 'lab' %}class="lab"{% endif %}>
	<head>
		<meta content="initial-scale=1, width=device-width, viewport-fit=cover" name="viewport">
		{% include auto_title.html -%}
		{% assign fallback = page.name | split: '.' | first | capitalize %}
		<title>{{- title | markdownify | strip_html | strip | default: fallback -}}</title>
		<link href="/assets/styles/reset.css" rel="stylesheet">
		<link href="/assets/styles/common.css" rel="stylesheet">
		<link href="/assets/styles/syntax.css" rel="stylesheet">
		{% if page.layout == 'example' %}
			<script src="/assets/scripts/example.js"></script>
		{% else %}
			<script src="/assets/scripts/common.js"></script>
		{% endif %}
		{% if page.layout == 'lab' %}
			<meta name="theme-color" content="#000000">
			<link href="/assets/icons/blue.png" rel="icon" sizes="64x64" type="image/x-icon">
			<link href="/assets/icons/blue.png" rel="apple-touch-icon">
		{% else %}
			<link href="/assets/icons/favicon.ico" rel="icon" sizes="64x64" type="image/x-icon">
			<link href="/assets/icons/touch.png" rel="apple-touch-icon">
			<meta name="theme-color" content="#e42a1d">
		{% endif %}
	</head>
	<body
		class="
			{% if page.layout == 'lab' %}
				{% if page.name %}
					landing
				{% else %}
					topic
				{% endif %}
			{% elsif page.layout != 'page' %}
				{{ page.layout }}
			{% else %}
				{{ page.name | split: '.' | first }}
			{% endif %}
			">
		{{ content }}
	</body>
</html>
