<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% if page.layout == 'week' %}
			{% assign title = page.name | week_number %}
		{% else %}
			{% assign title = page.title %}
		{% endif %}
		<title>{{ title | strip_html }}</title>
		<link href="/assets/styles/common.css" rel="stylesheet">
		<link href="/assets/icons/favicon.ico" rel="icon" sizes="64x64" type="image/x-icon">
		<link href="/assets/icons/touch.png" rel="apple-touch-icon">
	</head>
	<body class="{{ page.layout }}">
		{{ content }}
	</body>
</html>
