---
layout: default
---



<main>
	<header>
		<h1>{{ page.title | kerning_spans }}</h1>
	</header>
	<article>
		{{ content }}
		<ul>
			{% include sorted_weeks.html %}
			{% for week in weeks %}
				<li>
					<p><a href="{{ week.url | replace: '.html' }}">{{ week.name | week_number }}, {% include auto_date.html %}</a></p>
				</li>
			{% endfor %}
		</ul>
		<ul>
			{% assign topics = site.pages | where: 'layout', 'topic' | where_exp:'page', 'page.order != nil' | sort: 'order' %}
			{% for topic in topics %}
				<li>
					<p><a href="{{ topic.url | replace: '.html' }}">{{ topic.title }}</a></p>
				</li>
			{% endfor %}
		</ul>
	</article>
</main>

