---
layout: default
---


{% include sorted_weeks.html %}
{% assign projects = site.pages | where: 'layout', 'project' | sort: 'date' %}
{% assign topics = site.pages | where: 'layout', 'topic' | where_exp:'page', 'page.order != nil' | sort: 'order' %}
<main>
	<header>
		<h1>{{ page.title | kerning_spans }}</h1>
	</header>
	<article>
		{{ content }}
		<h2>{{page.strings.classes}}</h2>
		<ul>
			{% for page in weeks %}
				{% include auto_title.html %}
				{% include auto_date.html %}
				<li>
					<p>
						<a href="{{ page.url }}">
							{{ title }}{% if date %}, {{ date }}{% endif %}
						</a>
					</p>
				</li>
			{% endfor %}
		</ul>
		<h2>{{page.strings.topics}}</h2>
		<ul>
			{% for page in topics %}
				<li>
					<p>
						<a href="{{ page.url }}">
							{{ page.title }}
						</a>
					</p>
				</li>
			{% endfor %}
		</ul>
		<h2>{{page.strings.projects}}</h2>
		<ul>
			{% for page in projects %}
				{% include auto_title.html %}
				{% include auto_date.html %}
				<li>
					<p>
						<a href="{{ page.url }}">
							{{ title }}{% if date %}, {{ date }}{% endif %}
						</a>
					</p>
				</li>
			{% endfor %}
		</ul>
		<h2>{{page.strings.links}}</h2>
	</article>
</main>

