---
layout: default
---



{% assign index = site.pages | where: 'layout', 'index' | first %}
{% include sorted_weeks.html %}
{% assign this_week = weeks | last %}
{% assign last_week = weeks | pop | last %}
<nav>
	<div>
		<a href="{{ index.url }}">
			<p>{{ index.strings.home }}</p>
		</a>
		{% if page.url != this_week.url %}
			<a href="{{ this_week.url | replace: '.html'  }}">
				<p>{{ index.strings.current }} {%- if page.layout == 'week' -%}<span class="center--x">→</span>{%- else -%}<span>⤴</span>{%- endif -%}</p>
			</a>
		{% elsif last_week.url %}
			<a href="{{ last_week.url | replace: '.html'  }}">
				<p>{{ index.strings.last }} <span>⤴</span></p>
			</a>
		{% endif %}
	</div>
</nav>

{{ content }}
