---
layout: default
---



{% include nav.html %} {% comment %} Don’t reorder this or the titles will be wonky. {% endcomment %}
{% include auto_title.html %}
<main>
	{% if title %}
		<header>
			<h1>{{- title | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines -}}</h1>
			{% if date %}
				<p>{{ date | replace_first: 'd', "D" }}</p>
			{% endif %}
			{% include toc.html html=content h_max=2 %}
		</header>
	{% endif %}
	<article>
		{{ content }}
	</article>
	{% include footer.html %}
</main>
