section {
	display: flex;
	height: 120px;
}

div { flex-grow: 1; }

div:nth-child(1) {
	align-self: stretch; /* Default. */
}

div:nth-child(2) {
	background-color: lightsalmon;
	align-self: start;
}

div:nth-child(3) {
	background-color: crimson;
	align-self: center;
}

div:nth-child(4) {
	background-color: hotpink;
	align-self: end;
}
