section {
	--columns: 4;

	display: grid;
	grid-template-columns: repeat(var(--columns), 1fr);
}

@media (min-width: 400px) {
	section { --columns: 6; }
}

@media (min-width: 600px) {
	section { --columns: 8; }
}
